<div id="gallery-box">
  <img src="https://ubistatic19-a.akamaihd.net/resource/en-us/game/news/assassins-creed/ac-origins/aco_hr_dlc02_wide_final_v02_web_320387.jpg" />
  <img src="https://ubistatic19-a.akamaihd.net/resource/en-us/game/news/assassins-creed/ac-origins/aco_hr_dlc02_wide_final_v02_web_320387.jpg" />
  <img src="https://ubistatic19-a.akamaihd.net/resource/en-us/game/news/assassins-creed/ac-origins/aco_hr_dlc02_wide_final_v02_web_320387.jpg" />
  <img src="https://ubistatic19-a.akamaihd.net/resource/en-us/game/news/assassins-creed/ac-origins/aco_hr_dlc02_wide_final_v02_web_320387.jpg" />
  <img src="https://ubistatic19-a.akamaihd.net/resource/en-us/game/news/assassins-creed/ac-origins/aco_hr_dlc02_wide_final_v02_web_320387.jpg" />
</div>
