<div id="story-box">
  <div id="story-container">


    <h1>{{title}}</h1>
    <p style="text-align:center;">{{textContent}}
    </p>
    <h3>To Do List</h3>
    <ul>
      <li>Add click and keyboard functionality</li>
      <li>Import information from WIKIpedia</li>
      <li>Global 'P' Font</li>
      <li>Close Button functionality and Menu Functionality</li>
      <li>New Favicon</li>
      <li>Change NavIcons</li>
      <li>Mobile Friendly</li>
      <li>Create a couresel gallery</li>

    </ul>
  </div>
</div>
