<div id="navContainer">
  <div id="navIcon">
    <h3>Menu</h3>
    <img src="./assets/Images/580b57fcd9996e24bc43c28b.png">

  </div>
  <div class="acLogos">
    <ol>
      <li><a href="#0" data-date="16/01/2014" class="selected"><img class="acLogoImages" src="https://vignette.wikia.nocookie.net/starcitizen/images/e/e7/Assassin_Creed_Main.png/revision/latest?cb=20140505152349" /></a></li>
      <li><a href="#0" data-date="28/02/2014"><img class="acLogoImages" src="https://i.pinimg.com/originals/ab/fb/9d/abfb9d9176f259a25b2febb54ec9664d.png" /></a></li>
      <li><a href="#0" data-date="20/04/2014"><img class="acLogoImages" src="https://orig00.deviantart.net/644c/f/2013/083/a/8/assassin_s_creed__brotherhood_icon__512x512__by_youknowwho77-d5z3ltf.png" /></a></li>
      <li><a href="#0" data-date="20/05/2014"><img class="acLogoImages" src="https://vignette.wikia.nocookie.net/assassinscreed/images/5/59/Ottoman_Insignia-R.png/revision/latest?cb=20120106140015" /></a></li>
      <li><a href="#0" data-date="09/07/2014"><img class="acLogoImages" src="http://vgboxart.com/resources/logo/2415_assassins-creed-iii-prev.png" /></a></li>
      <li><a href="#0" data-date="01/11/2014"><img class="acLogoImages" src="https://pre00.deviantart.net/1cbb/th/pre/i/2015/141/a/1/assassin_s_creed_rogue_logo__without_text__by_quidek-d8tvgq2.png" /></a></li>
      <li><a href="#0" data-date="10/12/2014"><img class="acLogoImages" src="https://orig00.deviantart.net/cf60/f/2013/062/a/5/assassin_s_creed_iv__caribbean_insignia_by_okiir-d5wuacj.png" /></a></li>
      <li><a href="#0" data-date="19/01/2015"><img class="acLogoImages" src="https://orig00.deviantart.net/7f18/f/2014/213/3/e/assassin_s_creed___unity_logo___french_flag_by_dragoninthemoon2234-d7t7bpn.png" /></a></li>
      <li><a href="#0" data-date="03/03/2015"><img class="acLogoImages" src="https://orig00.deviantart.net/fc96/f/2015/158/9/c/assassin_s_creed_syndicate_logo_by_amia2172-d8wdxw0.png" /></a></li>
    </ol>
  </div>


</div>
